<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{290,220}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{290,220}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,0},{288,218}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{288,218}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,0},{290,218}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{290,218}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,0},{290,218}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{290,218}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,0},{290,218}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{290,218}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,0},{290,218}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{290,218}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,0},{290,218}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{290,218}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,220},{288,218}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{288,218}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,220},{288,218}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{288,218}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,220},{288,218}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{288,218}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,220},{288,218}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{288,218}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,220},{288,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{288,218}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,220},{288,218}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{288,218}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,220},{286,218}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{286,218}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,438},{286,218}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{286,218}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,438},{286,218}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{286,218}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,438},{286,218}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{286,218}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,438},{286,218}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{286,218}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,438},{286,218}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{286,218}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,438},{288,218}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{288,218}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,438},{288,218}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{288,218}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,656},{288,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{288,218}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>30.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,656},{288,218}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{288,218}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>31.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,656},{290,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{290,218}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>32.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,656},{290,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{290,218}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,656},{290,218}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{290,218}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,656},{290,218}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{290,218}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,656},{290,218}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{290,218}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>36.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,874},{290,218}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{290,218}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>37.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,874},{290,218}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{290,218}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>38.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,874},{290,218}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{290,218}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>39.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,874},{290,218}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{290,218}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,874},{288,220}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{288,220}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,874},{288,218}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{288,218}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,874},{288,220}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{288,220}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1094},{288,218}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{288,218}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1094},{288,218}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{288,218}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,1094},{290,218}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{290,218}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,1094},{288,218}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{288,218}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>textureFileName</key>
            <string>planetAnimation-hd.png</string>
        </dict>
    </dict>
</plist>
