<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{142,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{142,120}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,0},{88,120}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{88,120}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,0},{82,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{82,120}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,0},{88,120}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{88,120}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,0},{102,120}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{102,120}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,0},{114,120}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{114,120}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,0},{124,120}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{124,120}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,0},{132,120}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{132,120}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,0},{136,120}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{136,120}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,120},{140,120}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{140,120}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,120},{140,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{140,120}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,120},{140,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{140,120}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,120},{140,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{140,120}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,120},{140,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{140,120}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,120},{140,120}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{140,120}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,120},{136,120}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{136,120}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,240},{132,120}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{132,120}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,240},{124,120}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{124,120}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,240},{114,120}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{114,120}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,240},{102,120}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{102,120}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{1024,512}</string>
            <key>textureFileName</key>
            <string>starAnimation.png</string>
        </dict>
    </dict>
</plist>
